<br>
<app-userdetails></app-userdetails>

<br><br>
<mat-label style="font-size: 23px; margin-left: 44%"> UPDATE DIRECTORY</mat-label>
<form class="example-form" id="newuser" name="newuser" #updateuser="ngForm" (ngSubmit) = put(updateuser.value)>

<mat-form-field class="example-full-width2">
      
  <mat-label>Directory id</mat-label>
  <input name="folder_id" id="folder_id" placeholder="id" ngModel >

</mat-form-field>

 <mat-form-field class="example-full-width2">
      
  <mat-label>Directory name</mat-label>
  <input name="folder_name" id="folder_name" placeholder="folder_name" ngModel>

</mat-form-field>

<mat-form-field class="example-full-width2">
      
    <mat-label>Directory path</mat-label>
    <input name="folder_path" id="folder_path" placeholder="folder_path" ngModel>
  
  </mat-form-field>

<br>


<br>

<br>

<button mat-raised-button style="margin-left: 45%" color="primary" type="submit">UPDATE</button>
<button mat-raised-button style="margin-left: 30px;" routerLink="/getdirectory" color="primary" type="reset" >CANCEL</button>
</form>
