
<br><br>
<mat-label style="font-size: 23px; margin-left: 46%"> UPDATE GROUP</mat-label>


<form class="example-form" id="newuser" name="newuser" #updateuser="ngForm" (ngSubmit) = put(updateuser.value)>

<mat-form-field class="example-full-width2">
      
  <mat-label>Group</mat-label>
  <input name="g_id" id="g_id" placeholder="id" ngModel >

</mat-form-field>

 <mat-form-field class="example-full-width2">
      
  <mat-label>Group name</mat-label>
  <input name="g_name" id="g_name" placeholder="g_name" ngModel>

</mat-form-field>

<br>


<br>

<br>


<button mat-raised-button style="margin-left: 45%;" color="primary" type="submit">UPDATE</button>
<button mat-raised-button style="margin-left: 30px;" color="primary" type="reset" >CANCEL</button>
</form>
