<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
<u>
    <h2 align="center" style="background-color:lightgrey">Profile</h2>
</u>
</div>
<div class="container">
<ul>
    <li>Java Developer with basic knowledge of Spring framework.</li>
    <li>I have good knowledge of object oriented Concepts, Collection Framework.</li>
    <li>Dedicated, Self-motivated and have ability to contribute as a team member.</li>
    <li>Have hands-on experience on Selenium IDE, JIRA, TestNG.</li>
</ul>
</div>
</html>