<br><br>
<mat-label style="font-size: 25px; margin-left: 45%;"> USER LOGIN</mat-label>
<br><br>
<div *ngIf="firstLogin==true">
  <div style="padding:20px">
      <form (submit)="login()">
          <mat-form-field class="home-full-width">
              <input matInput [(ngModel)]="u_id" name="u_id" placeholder="Ex. 1" required>
          </mat-form-field>
          <br>
          <mat-form-field class="home-full-width" >
              <input matInput  class="input" [(ngModel)]="u_password" name="u_password" placeholder="Enter The Password" required>
          </mat-form-field>
          <br><br>
          
          <button mat-button style="margin-left: 40%;"  mat-raised-button color="primary" type="submit">LOGIN</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button mat-button style="margin-left: 2%;"  mat-raised-button color="primary" type="reset">CANCEL</button>
      </form>
  </div>
</div>