<br><br>

<mat-label style="font-size: 20px; margin-left: 45%;"> USER LOGIN</mat-label>
<br><br>

<div style="padding:10px">
  <form class="example-form" [formGroup]="loginForm">
    <mat-form-field class="home-full-width">
        
        <mat-label>User Id</mat-label>
        <input matInput #uname formControlName="uid" maxlength="256" placeholder="Ex. 1" required>
        
        <mat-error *ngIf="uid.hasError('required')">
          <strong>User name is required</strong>
      
        </mat-error> 

    </mat-form-field>
    <br>
    <mat-form-field class="home-full-width">
       <mat-label>Password</mat-label>
      <input matInput #pass placeholder="Password" formControlName="password" type="password" #message maxlength="256" required>
     
      <mat-error *ngIf="password.hasError('required')">
        <strong>Password is required</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        <strong>Required length is at least 6 characters</strong>
      </mat-error>


  </mat-form-field>

  <br> <br>
  
  <button type="button" style="margin-left: 40%;" [disabled]="!loginForm.valid" mat-raised-button color="primary" matSuffix aria-label="Clear" routerLink="/userdetails" (click)="getByUserGroupId(message.value)" > LOGIN
    </button>  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  style="margin-left: 3%;" mat-raised-button color="primary" matSuffix aria-label="Clear" routerLink="/"> Cancel
    </button>  

   


  </form>
</div>