<br><br>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<mat-label style="font-size: 20px;"> USER LOGIN</mat-label>
<br><br>

<div style="padding:10px">
  <form class="example-form" [formGroup]="registerForm">
    <mat-form-field class="home-full-width">
        
        <mat-label>User Id</mat-label>
        <input matInput #id #message formControlName="uid" maxlength="256" placeholder="Ex. 1" required>
        
        <mat-error *ngIf="uid.hasError('required')">
          <strong>User name is required</strong>
      
        </mat-error> 

    </mat-form-field>
    <br>
    <mat-form-field class="home-full-width">
       <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" type="password" #message maxlength="256" required>
     
      <mat-error *ngIf="password.hasError('required')">
        <strong>Password is required</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        <strong>Required length is at least 6 characters</strong>
      </mat-error>

  </mat-form-field>

  <br> <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  <button type="button" style="margin-left: 30px;" [disabled]="!registerForm.valid" mat-raised-button color="primary" matSuffix aria-label="Clear" routerLink="/userdetails" (click)="getByUserGroupId(message.value)" > LOGIN
    </button>  
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button  style="margin-left: 30px;" mat-raised-button color="primary" matSuffix aria-label="Clear" routerLink="/"> Cancel
    </button>  

    <mat-grid-list cols="1" rowHeight="250px">
      <mat-grid-tile *ngFor="let user of users" >
          <mat-card class="home-card"> 
              <table >
                  <col width="150">
                  <col width="150">
                  <!-- <col width="150">
                  <col width="150"> -->
                 
                  <tr>
                      <th>User Id</th>
                      <th>Group Id</th>
                      <!-- <th> Last Name </th>
                      <th> Password </th> -->
                  </tr>
                   <tr>
                      <td align="center">{{user.data["u_id"]}} </td>
                      <td align="center">{{user.data["g_id"]}} </td>
                      <!-- <td align="center">{{user.data["u_lastname"]}} </td>
                      <td align="center">{{user.data["u_password"]}} </td> -->
                   </tr>
                </table>
                
          
          </mat-card>
      </mat-grid-tile>
  </mat-grid-list> 
  


  </form>
</div>