<br>
<div>
    <div style="font-size: 17px;margin-left: 5px; text-align: center;"><i><b>Rest API Implementation</b></i></div><br>
    <mat-grid-list cols="1" rowHeight="50px">
       
                <table border="260px" style="border-color:lightgrey;">
                    <col width="150px">
                    <col width="150px">
                    <col width="150px">
                    <col width="150px">
                    <col width="150px">
                   
                    <!-- <tr>
                        <mat-grid-tile>
                            <th style="width: 150px;" align="center">User Id</th>
                            <th style="width: 150px;" align="center">First Name</th>
                            <th style="width: 150px;" align="center"> Last Name </th>
                            <th style="width: 150px;" align="center"> Email id </th>
                            <th style="width: 150px;" align="center"> Phone no </th>
                        </mat-grid-tile>
                    </tr>
                    <tr>
                        <mat-grid-tile *ngFor="let user of users"> {{user | json}}
                            <td style="width: 150px;" align="center">{{user["id"]}}</td>
                            <td style="width: 150px;" align="center">{{user["first_name"]}} </td>
                            <td style="width: 150px;" align="center">{{user.data["last_name"]}} </td>
                            <td style="width: 150px;" align="center">{{user.data["email"]}}  </td>
                            <td style="width: 150px;" align="center">{{user.data["contact_number"]}} </td>
                        </mat-grid-tile>
                    </tr>   -->
                </table>
    </mat-grid-list>
            
</div>