<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link"> Home </a>
        <a class="nav-item nav-link"> Admin </a>
        <a class="nav-item nav-link"> Logout </a>
    </div>
</nav>
<router-outlet></router-outlet> -->
<!-- <mat-toolbar>
    <span>LOGIN</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>User</mat-label>
              <input  matInput  placeholder="Email" name="email">
           </mat-form-field>
           <br>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" name="password">
           </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
     </mat-card-actions>
  </mat-card> -->
  <mat-toolbar color="primary">
  <button mat-button routerLink="/createuser">
   <span class="material-icons">add</span>
   <span>User</span>
</button>

<button mat-button routerLink="/login">
   <span class="material-icons">supervisor_account</span>
   <span>Login</span>
</button>

</mat-toolbar>
  <router-outlet></router-outlet>