<mat-toolbar color="primary">

<button mat-button [matMenuTriggerFor]="menu">Admin</button>
<mat-menu #menu="matMenu">
   <button mat-menu-item routerLink="/createuser">
      <span>Add User</span>
   </button>
   <button mat-menu-item routerLink="/deleteuser">
      <span>Delete User</span>
   </button>
   <button mat-menu-item routerLink="/getuser">
      <span>Get User</span>
   </button>
   <button mat-menu-item routerLink="/group">
      <span>Add Group</span>
   </button>
   <button mat-menu-item routerLink="/deletegroup">
      <span>Delete Group</span>
   </button>
   <button mat-menu-item routerLink="/getgroup">
      <span>Get Group</span>
   </button>
   <button mat-menu-item routerLink="/addusertogroup">
      <span>Add User To Group</span>
   </button>

</mat-menu>

<button mat-button *ngIf="router.url==='/' || router.url==='/login' || router.url==='/createuser' || router.url==='/deleteuser' || router.url==='/getuser' || router.url==='/group' || router.url==='/deletegroup' || router.url==='/getgroup' || router.url==='/addusertogroup'" routerLink="/login">
   <!-- <button mat-button routerLink="/login"> -->
      <span class="material-icons">person</span>
     
   <span>Login</span>
</button>

</mat-toolbar> 
  <router-outlet></router-outlet>