<mat-toolbar color="primary">

<button mat-button [matMenuTriggerFor]="menu">Admin</button>
<mat-menu #menu="matMenu">
   <button mat-menu-item routerLink="/createuser">
      <span>Add User</span>
   </button>
   <button mat-menu-item routerLink="/deleteuser">
      <span>Delete User</span>
   </button>
   <button mat-menu-item routerLink="/getuser">
      <span>Get User</span>
   </button>
   <button mat-menu-item routerLink="/group">
      <span>Add Group</span>
   </button>
   <button mat-menu-item routerLink="/deletegroup">
      <span>Delete Group</span>
   </button>
   <button mat-menu-item routerLink="/getgroup">
      <span>Get Group</span>
   </button>
   <button mat-menu-item routerLink="/addusertogroup">
      <span>Add User To Group</span>
   </button>

</mat-menu>

<button mat-button routerLink="/login">
   <span class="material-icons">supervisor_account</span>
   <span>Login</span>
</button>


<button mat-button  *ngIf="router.url === '/userdetails'"  type="submit" (click)="goToPage('/')">
   <mat-icon>exit_to_app</mat-icon>
   <span>Logout</span>
</button>

</mat-toolbar> 
  <router-outlet></router-outlet>