<div style="padding:10px">
    <mat-form-field class="home-full-width">
        <mat-label>User Id</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. 1">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="getById(message.value)">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>

    <mat-grid-list cols="4" rowHeight="580px"> 
        <mat-grid-tile *ngFor="let user of users"> 
            <mat-card class="home-card" style="background-color: lightblue;">
                <mat-card-header>
                    <mat-card-title>{{user.u_firstname}} {{user.data['u_lastname']}}</mat-card-title>
                    <mat-card-subtitle>User ID: <b>{{user.data['u_id']}}</b></mat-card-subtitle>
                    <!-- <mat-card-title>{{user.data['u_firstname']}} {{user.data['u_lastname']}}</mat-card-title>
                    <mat-card-subtitle>User ID: <b>{{user.data['u_id']}}</b></mat-card-subtitle> -->
                </mat-card-header>
                <!-- <img mat-card-image src={{user.photo}}
                    onerror="this.onerror=null; this.src='../../assets/default.png';"> -->
                <!-- <mat-card-content>

                    <p class="txt1"><span class="material-icons">
                            contact_mail
                        </span> {{user.email}}</p>

                    <p class="txt1"><span class="material-icons">
                            call
                        </span>{{user.contact_number}}</p>
                </mat-card-content> -->
                <mat-card-actions style="display:flexbox; justify-content: center; align-items: center;">
                    <button mat-raised-button style="width: 46.5%; padding: 4px;" (click)="openDialog(user)"><span
                            class="material-icons" style="margin-top: 4px; margin-right: 10px;">
                            edit
                        </span>Edit</button>
                    <button mat-raised-button style="width: 46.5%; padding: 4px; margin-right: -1px;"
                        (click)="deleteProduct(user.id)">
                        <span class="material-icons" style="margin-top: 4px; margin-right: 10px;">
                            delete
                        </span>Delete</button>

                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>