<!--<app-profile></app-profile> -->
<br>
<div class="container">
<h2 align="center" style="background-color:skyblue">RESUME</h2>
<a routerLink="/personal-details">Personal Details</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/profile">Profile</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/career-objective">Career Objectives</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/academic-details">Academic Details</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/projects">Projects</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/technical-skilland-tools-used">Technical Skills & Tools Used</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/strength">Strengths</a>&nbsp; &nbsp; &nbsp; &nbsp;
<a routerLink="/interest">Interests</a>
<br><br>
</div>
<router-outlet></router-outlet>