<br><br>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-label style="font-size: 20px;"> Update Record</mat-label>
<div style="padding:10px">
    <mat-form-field class="home-full-width">
        
        <mat-label>User Id</mat-label>
        <input matInput id="id" #message maxlength="256" placeholder="Ex. 1" required>
         
    </mat-form-field>
    <button style="margin-left: 30px;" mat-raised-button color="primary" matSuffix aria-label="Clear" (click)="getById(message.value)"> Search
    </button>  
     <mat-grid-list cols="1" rowHeight="120px">
        <mat-grid-tile *ngFor="let user of users" >
            <mat-card class="home-card">
                <table border="260px" style="border-color:lightgrey;">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <col width="150">
                    <tr>
                        <th>User Id</th>
                        <th>First Name</th>
                        <th> Last Name </th>
                        <th> Email id </th>
                        <th> Phone no </th>
                        <th> Update</th>
                    </tr>
                     <tr>
                        <td align="center">{{user.id}}</td>
                        <td align="center">{{user.first_name}} </td>
                        <td align="center">{{user.last_name}} </td>
                        <td align="center">{{user.email}}  </td>
                        <td align="center">{{user.contact_number}} </td>
                        <td align="center"><button style="margin-left: 30px;"  (click)="openDialog(user)"  mat-raised-button color="primary" matSuffix aria-label="Clear"> Update
                        </button>  </td>
                     </tr>
                  </table>
                  
            
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list> 

    
</div>