<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <div class="container">
        <h2 align="center" style="background-color:lightgrey">Interests</h2>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; I find keen interest in <b>Playing Cricket and Chess. Watching Comedy, Inspirational Movies</b> and <b>Listening
              Songs</b> with high tempo are my favorite mood changers. I also like to <b>solve puzzles</b> and have interest in solving <b>logical problems.</b>
          </p>
    </div>

</html>