<!DOCTYPE html>
<html lang="en">
<head>
<!-- Title -->
<title>Moje. - Responsive Bootstrap Resume vCard HTML/CSS Template</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Cache-control" content="public">
<meta name="description" content="Moje. - Responsive One-Page Bootstrap vCard Template.">
<meta name="keywords" content="moje, responsive, one page, resume, bootstrap, vCard, personal page, html5, css3, retina">
<meta name="author" content="Suelo">

<link rel="shortcut icon" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/images/favicon.png">
<link rel="apple-touch-icon" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/images/apple-touch-icon-114x114.png">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
<!-- Retina Images -->
<script>if((window.devicePixelRatio===undefined?1:window.devicePixelRatio)>1)
    document.cookie='HTTP_IS_RETINA=1;path=/';</script>
<!-- End Retina Images -->

<!-- Google Web Fonts -->
<link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,700,500' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/animations.css" />
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/flaticon.css" />
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/owl.theme.css">
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/css/style.min.css" />
<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/colors/blue.css" id="colors" />

</head>

<body>

<!-- Facebook Source -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<!-- Header  -->
<header id="nav-content" class="vertical-nav nav-white col-sm-2">

	<!-- Logo -->
	  <div class="my-logo">
    	<a href="#profile"><img src="../assets/images/shubham.jpeg" width="140px" height="140px" alt="" /></a>
    </div>
    
    <!-- Navigation -->
    <ul class="menu nav me-nav">
    	<li class="menu-item active"><a href="#profile"><span>Profile</span><i class="fa fa-user"></i></a></li>
        <li class="menu-item"><a href="#resume"><span>Resume</span><i class="fa fa-pencil"></i></a></li>
        <li class="menu-item"><a href="#portfolio"><span>Academic Details</span><i class="fa fa-desktop"></i></a></li>
        <li class="menu-item"><a href="#blog"><span>Latest Posts</span><i class="fa fa-comment"></i></a></li>
        <li class="menu-item"><a href="#contact"><span>Contact</span><i class="fa fa-phone"></i></a></li>
    </ul>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <!-- Copyright -->
    <span class="copyright hidden-md">© 2020 <b>Shubham Jadhav</b>.</span>

</header>
<!-- Header / End -->

<!-- Page Content -->
<div id="page-content" >

	<!-- Profile -->
	<section id="profile" class="black">
      
      <!-- Background photo -->
      
      <div id="profile-bg" data-alpha="40">
          
        <img src="../assets/images/backgrounds/images.jpeg" alt="" style="height:685px"/>
        <!-- <div>
          <h1>Shubham Jadhav</h1>
        </div>             -->
        <div class="col-lg-6"></div>
        <div class="col-lg-6"></div>
      </div>
    	<!-- <div class="content padded dark">
        <div class="bottom-bar profile-bottom-bar hidden-xs">
              <ul class="list-inline">
                  <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>N-32/N-5/32-2, Swami Vivekanand Nagar, Nashik-09</li>
                  <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="#">spj.8596@gmail.com</a></li>
                  <li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>91-8446409231</li>
              </ul>
        </div>
      </div>    	 -->
        
    </section>
    <!-- Profile / End -->
    

	<section id="resume">
    
    	<div class="content dimmed-effect padded-short">
        	
            <div class="row">
            
              <div class="col-lg-4">
              
              	<!-- Box - About Me -->
                <div class="resume-box animated slide-in-top">
                  <!-- <h1>Shubham Jadhav</h1> -->
                  
                  
                  <h3><b><i class="title-icon text-blue flaticon-speech43"></i></b> Career Objectives</h3><br>
                  <p class="lead">To work in organization that looks for advancement in technology and where I will get the
                    opportunity to learn new technologies and utilize it for the betterment of the business, career
                    advancement and professional growth.</p>
                </div>
                
              </div>
          	  
              <div class="col-md-6 col-lg-4">
              
              	<!-- Box - Specialities -->
                <div class="resume-box animated slide-in-right">
                  
                  <h3><b><i class="title-icon text-red flaticon-mouse19"></i></b> My Specialities</h3>
                  <!-- Speciality --><br>
                  <div>
                  	
                    <div class="speciality-content">
                    	<h4 class="short"><b><i class="speciality-icon text-red flaticon-bulb11"></i> Web design</b></h4>
                        <p class="speciaity-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Great, modern website designes.</p>
                    </div>
                  </div>
                  <!-- Speciality -->
                  <div class="speciality">
                    <div class="speciality-content">
                    	<h4 class="short"><b><i class="speciality-icon text-red flaticon-codings1"></i> Front-End Web Development</b></h4>
                        <p class="speciaity-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Great, modern website designes.</p>
                    </div>
                  </div>
                  <!-- Speciality -->
                  <div class="speciality">
                  	
                    <div class="speciality-content">
                    	<h4 class="short"><b><i class="speciality-icon text-red flaticon-tablet42"></i> App Design</b></h4>
                        <p class="speciaity-description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Great, modern website designes.</p>
                    </div>
                  </div>
                </div>
                
              </div>
              
              <div class="col-md-6 col-lg-4">
              
              	<!-- Box - Languages -->
                <div class="resume-box animated slide-in-right appear-second">
                  
                  <h3><b><i class="title-icon text-orange flaticon-chat25"></i></b> Languages</h3><br>
                  <!-- Single skill -->
                  <div class="skill">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="skill-name">English</span>
                  
                    <div class="skill-bar sb-orange">
                    	  <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-off"></div>
                    </div>
                  </div>
                  <!-- Single skill -->
                  <div class="skill">
                  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="skill-name">Hindi</span>
                    <div class="skill-bar sb-orange">
                    	<div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                    </div>
                  </div>
                  <div class="skill">
                  	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="skill-name">Marathi</span>
                    <div class="skill-bar sb-orange">
                    	<div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
  <br><br>
  <section id="portfolio">
    
    	<div class="content dimmed-effect padded-short">
        	
            <div class="row">
            
              <div class="col-lg-4">
              
                <!-- Box - Skills & Attributes -->
                <div class="resume-box animated slide-in-left appear-second">
                  
                  <h3><b><i class="title-icon text-green flaticon-open79"></i></b> Skills &amp; Attributes</h3>
                  <!-- Sinlge skill --><br>
                  <div class="skill">
                  &nbsp;&nbsp;&nbsp;	<span class="skill-name"><b>Technical Languages : </b>C,Python,Java</span>
                    <div class="skill-bar sb-green">
                    	<div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-off"></div>
                    </div>
                  </div><br>
                  <!-- Sinlge skill -->
                  <div class="skill">
                    &nbsp;&nbsp;&nbsp;	<span class="skill-name"><b>Web Skill : </b>HTML/CSS </span>
                    <div class="skill-bar sb-green">
                    	<div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                    </div>
                  </div><br>
                  <!-- Sinlge skill -->
                  <div class="skill">
                    &nbsp;&nbsp;&nbsp;	<span class="skill-name"><b>Database : </b>PostgreSQL, MySQL</span>
                    <div class="skill-bar sb-green">
                    	<div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-off"></div>
                    </div>
                  </div><br>

                  <div class="skill">
                    &nbsp;&nbsp;&nbsp;	<span class="skill-name"><b>IDE : </b>Selenium IDE, Eclipse</span>
                    <div class="skill-bar sb-green">
                    	<div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                        <div class="skill-rate-on"></div>
                    </div>
                  </div>

                </div>
                
              </div>
          	  
              <div class="col-md-6 col-lg-4">
                
                <!-- Box - Education & Jobs -->
                <div class="resume-box animated slide-in-left">
                 
                  <h3><b><i class="title-icon text-yellow flaticon-document56"></i></b> Education & Jobs</h3>
                  <br>
                  <div class="timeline">
                  	<!-- Single event -->
                  	<div class="timeline-event te-yellow">
                      <div class="event-date">June 2002 - March 2012 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S.S.C.</div>
                      <div class="event-description">Jaju Vidyalaya,Nashik</div>
                    </div><br>
                    <!-- Single event -->
                  	<div class="timeline-event te-yellow">
                      <div class="event-date">July 2012 - March 2014 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;H.S.C.</div>
                      <div class="event-description">K.S.K.W. College,Nashik</div>
                    </div><br>
                    <!-- Single event -->
                  	<div class="timeline-event te-yellow">
                      <div class="event-date">June 2014 - April 2017 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BSc(C.S.)</div>
                      <div class="event-description">R.Y.K. College,Nashik</div>
                    </div><br>
                    <div class="timeline-event te-yellow">
                      <div class="event-date">July 2017 - May 2020 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MCA</div>
                      <div class="event-description">Pune University Computer Science Department</div>
                    </div><br>
                    <div class="timeline-event te-yellow">
                      <div class="event-date"> 8th July 2019 - 13th Dec 2019 &nbsp;&nbsp;&nbsp;&nbsp; Internship </div>
                      <div class="event-description">CRIF Solutions</div>
                    </div>
                  </div>
                </div>
                
              </div>
              
              <div class="col-md-6 col-lg-4">
            
                <!-- Box - Hobbies -->
                <div class="resume-box animated slide-in-bottom">
                  
                  <h3><b><i class="title-icon text-violet flaticon-joystick4"></i></b> Hobbies &amp; Interests</h3>
                  <!-- List group -->
                 <br> <ul>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Jokes</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Sport</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Reading</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Music</li><br>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;Videogames</li>
                  </ul>
                </div>
                
              </div>
              
            </div>
            
        </div>
    
    </section>
    <!-- Portfjolo / End -->
    
    <!-- Blog -->
    <section id="blog">
    
    </section>
    <!-- Blog / End -->
    
    <!-- Contact -->
    <section id="contact" class="black">
              
    </section>
    <!-- Contact / End -->
	
</div>
<!-- Page Content / End -->

<!-- Scripts -->
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/page-loader.min.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery.easing.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery.localScroll.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/jquery.appear.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<!-- Custom Script -->
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/custom.js"></script>
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/js/GoogleMap-dark.js"></script>

<link rel="stylesheet" type="text/css" href="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/styleswitcher/styleswitcher.css" />
<script type="text/javascript" src="/home/shubham/Public/PP/pucsd2020-pp/assignment-002/ResumeTemplate/src/assets/styleswitcher/styleswitcher.js"></script>

</body>

</html>