<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <div class="container">
    <u>
        <h2 align="center" style="background-color:lightgrey">Technical Skills/Tools Used</h2>
      </u>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-6">
  
          <ul>
            <li><b>Language : </b>C, Java, Python(Basics), XSLT</li>
            <li><b>Database : </b>PostgreSQL, MySQL</li>
            <li><b>Markup Language : </b>HTML, XML</li>
          </ul>
  
        </div>
        <div class="col-6">
  
          <ul>
            <li><b>IDE : </b>Selenium IDE, Eclipse</li>
            <li><b>Framework : </b>Collection Framework, Spring(Basic), TestNG</li>
            <li><b>Additional Skills : </b>JIRA, Maven, Basics of Java 8, XSD</li>
          </ul>
  
        </div>
      </div>
      </div>
</html>