<br><br>
<mat-label style="font-size: 25px; margin-left: 44%"> CREATE GROUP</mat-label>

<form class="example-form" [formGroup]="registerForm">

<mat-form-field class="example-full-width2">
      
  <mat-label>Group</mat-label>
  <input matInput name="g_id" formControlName="gid" maxlength="100" required>

  
  <mat-error *ngIf="gid.hasError('required')">
    <strong>Group id is required</strong>

  </mat-error>

</mat-form-field>

 <mat-form-field class="example-full-width2">
      
  <mat-label>Group name</mat-label>
  <input matInput name="g_name" formControlName="gname" maxlength="100" required>

  
  <mat-error *ngIf="gname.hasError('required')">
    <strong>Group name is required</strong>

  </mat-error>

</mat-form-field>

<br>
<br>
<button style="margin-left: 55%" name="save" mat-raised-button color="primary"
  [disabled]="!registerForm.valid" (click)="onSubmit()">CREATE</button>
<button routerLink="/" style="margin-left: 30px;" mat-raised-button color="primary"
   (click)="onSubmit()">Cancel</button>
</form>
