<h2 mat-dialog-title>User Details </h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updateForm">
    <mat-form-field class="dialog-full-width" appearance="outline">
        <mat-label>User Id</mat-label>
        <input matInput type="number" #message placeholder="User id" formControlName="id" maxlength="100" required>
        
        
        <mat-error *ngIf="id.hasError('required')">
          <strong>Firstname is required</strong>
  
        </mat-error>
    </mat-form-field>

    <mat-form-field class="dialog-full-width" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Firstname" formControlName="firstname" maxlength="100" required>
      <mat-hint align="end">
        {{firstname.value.length}}/100
      </mat-hint>

      <mat-error *ngIf="firstname.hasError('required')">
        <strong>Firstname is required</strong>

      </mat-error>

    </mat-form-field>
    <mat-form-field class="dialog-full-width1" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Lastname" formControlName="lastname" maxlength="100" required>
      <mat-hint align="end">
        {{lastname.value.length}}/100
      </mat-hint>

      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="lastname.hasError('required')">
        <strong>Lastname is required</strong>
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="dialog-full-width2" appearance="outline">
      <mat-label>Password</mat-label>
      <input maxlength="20" minlength="6" matInput placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="password.hasError('required')">
        <strong>Password is required</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        <strong>Required length is at least 6 characters</strong>
      </mat-error>
      <mat-hint align="end">
        {{password.value.length}}/20
      </mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="primary" (click)="onCancelClick()">Cancel</button>
  <button mat-button mat-raised-button color="primary" [disabled]="!updateForm.valid"
    (click)="onUpdateClick(message.value)">Update</button>
</mat-dialog-actions>