<h2 mat-dialog-title>User Details </h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="updateForm"> 
        
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Firstname" formControlName="firstname" maxlength="100" required>
      <mat-error *ngIf="firstname.hasError('required')">
        <strong>Firstname is required</strong>

      </mat-error>
    </mat-form-field>

    &nbsp;&nbsp;&nbsp;&nbsp;

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Lastname" formControlName="lastname" maxlength="100" required>
      <mat-error *ngIf="lastname.hasError('required')">
        <strong>Lastname is required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Email" formControlName="email" maxlength="100" required>
      <mat-error *ngIf="email.hasError('required')">
        <strong>Email is required</strong>
      </mat-error>
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>

      <mat-label>Contact Number</mat-label>
      <input matInput matInput placeholder="Contact Number" formControlName="contactNumber" maxlength="10" required>
      
      <mat-error *ngIf="contactNumber.hasError('required')">
        <strong>Contact Number is required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input maxlength="20" minlength="6" matInput placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="password.hasError('required')">
        <strong>Password is required</strong>
      </mat-error>
      <mat-error *ngIf="password.hasError('minlength')">
        <strong>Required length is at least 6 characters</strong>
      </mat-error>
      
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="primary" (click)="onCancelClick()">Cancel</button>
  <button mat-button mat-raised-button color="primary" [disabled]="!updateForm.valid"
    (click)="onUpdateClick()">Update</button>
</mat-dialog-actions>
