<mat-toolbar style="background-color: gray;" color="primary">
  <div style="
  height: 60px;"></div>
  <button mat-button routerLink="/home"><span class="material-icons">
  
    </span>Home</button>
  <button mat-button routerLink="/register">
    <span class="material-icons">
    
    </span>Create</button>

    <button mat-button routerLink="/update">
      <span class="material-icons">
      
    </span>Update</button>

    <button mat-button routerLink="/delete">
        <span class="material-icons">
        
        </span>Delete</button>

        <button mat-button routerLink="/search">
          <span class="material-icons">
          
          </span>Search</button>

</mat-toolbar>

<router-outlet></router-outlet>
