<br>
<app-userdetails></app-userdetails>

<br><br>
<mat-label style="font-size: 23px; margin-left: 43%"> UPDATE FILE PERMISSION</mat-label>


<form class="example-form" id="newuser" name="newuser" #updateuser="ngForm" (ngSubmit) = put(updateuser.value)>

<mat-form-field class="example-full-width2">
      
  <mat-label>User id</mat-label>
  <input name="u_id" id="u_id" placeholder="u_id" ngModel >

</mat-form-field>

 <mat-form-field class="example-full-width2">
      
  <mat-label>File id</mat-label>
  <input name="file_id" id="file_id" placeholder="file_id" ngModel>

</mat-form-field>

<mat-form-field class="example-full-width2">
      
    <mat-label>Permission Type</mat-label>
    <input name="p_type" id="p_type" placeholder="permission type" ngModel>
  
  </mat-form-field>

<br>


<br>

<br>

<button mat-raised-button style="margin-left: 45%;" color="primary" type="submit">UPDATE</button>
<button mat-raised-button style="margin-left: 30px;" routerLink="/filepermission" color="primary" type="reset" >CANCEL</button>
</form>
