<br>
<p>&nbsp;&nbsp;&nbsp;&nbsp;
    <b><h2>&nbsp;&nbsp;&nbsp;&nbsp;List </h2></b>
</p>

 <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree> 
<!-- <button type="button" style="margin-left: 30px;"  mat-raised-button color="primary" matSuffix aria-label="Clear" (click)="onUpdateClick()" > Groups
</button>   -->

<!-- <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-label style="font-size: 20px;"> Search Record</mat-label>
<div style="padding:10px">
    <mat-form-field class="home-full-width">
        
        <mat-label>User Id</mat-label>
        <input matInput id="id" #message maxlength="256" placeholder="Ex. 1" required>
         
    </mat-form-field>
    <button style="margin-left: 30px;" mat-raised-button color="primary" matSuffix aria-label="Clear" (click)="getById(message.value)"> Search
    </button>  
    <form class="example-form" [formGroup]="registerForm">
    <mat-grid-list cols="1" rowHeight="250px">
      <mat-grid-tile *ngFor="let user of users" >
          <mat-card class="home-card"> 
              <table >
                  <col width="150">
                  <col width="150">
                 
                  <tr>
                      <th>User Id</th>
                      <th>Group Id</th>
                      
                  </tr>
                   <tr>
                      <td align="center">{{user.data["u_id"]}} </td>
                      <td align="center">{{user.data["g_id"]}} </td>
                     
                   </tr>
                </table>
                
          
          </mat-card>
      </mat-grid-tile>
  </mat-grid-list> 
</form>
    
</div> -->