
<mat-toolbar color="warm">
  <div fxLayout="row" fxLayoutGap='45px'>
        <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu">
          <span class="material-icons">group</span>
          <span> Groups</span>
        </button>
          
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/usergroupinfo">
            <span>User Group Info</span>
          </button>
        </mat-menu>
     &nbsp;&nbsp;

      <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu1">
        <span class="material-icons">folder</span>
        <span> Directory</span>
      </button> 
      <mat-menu #menu1="matMenu">
        <button mat-menu-item routerLink="/directory">
          <span>Create Directory</span>
        </button>

        <button mat-menu-item routerLink="/deletedirectory">
          <span>Delete Directory</span>
        </button>

        <button mat-menu-item routerLink="/getdirectory">
          <span>Get Directory</span>
        </button>
      </mat-menu>
        
      &nbsp;&nbsp;

      <button  mat-raised-button color="primary" [routerLink]="['/file']">
        <span class="material-icons">note_add</span>
        <span> File</span>
      </button>
      <!-- <button mat-button mat-raised-button color="primary" type="submit" (click)="goToPage('/')"> -->
      <button mat-button style="margin-left: 830px;" mat-raised-button color="primary" type="submit" routerLink="/login">
      
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
     
    </div>
</mat-toolbar>

