<br><br>
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<mat-label style= "font-size:20px;">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
CREATE USER</mat-label>

<form class="example-form" [formGroup]="registerForm">

<mat-form-field class="example-full-width2">
      
  <mat-label>User</mat-label>
  <input matInput name="u_id" formControlName="uid" maxlength="100" required>

  
  <mat-error *ngIf="uid.hasError('required')">
    <strong>User name is required</strong>

  </mat-error>

</mat-form-field>

 <mat-form-field class="example-full-width2">
      
  <mat-label>First name</mat-label>
  <input matInput name="u_firstname" formControlName="firstname" maxlength="100" required>

  
  <mat-error *ngIf="firstname.hasError('required')">
    <strong>first name is required</strong>

  </mat-error>

</mat-form-field>

<br>

<mat-form-field class="example-full-width2">
      
  <mat-label>Last name</mat-label>
  <input matInput name="u_lastname" formControlName="lastname" maxlength="100" required>

  
  <mat-error *ngIf="lastname.hasError('required')">
    <strong>last name is required</strong>

  </mat-error>

</mat-form-field> 

<mat-form-field class="example-full-width2">
  <mat-label>Password</mat-label>
  <input maxlength="20" minlength="6" name="u_password" type="password" matInput placeholder="Password" formControlName="password"
    required>
  <mat-error *ngIf="password.hasError('required')">
    <strong>Password is required</strong>
  </mat-error>
  <mat-error *ngIf="password.hasError('minlength')">
    <strong>Required length is at least 6 characters</strong>
  </mat-error>
</mat-form-field>

<!-- <mat-form-field class="example-full-width1">
  <mat-label>Password</mat-label>
  <input maxlength="20" minlength="6" name="password" type="password" matInput placeholder="confirmPassword"
    formControlName="confirmPassword" required>
  <mat-error *ngIf="confirmPassword.hasError('required')">
    <strong>Password is required</strong>
  </mat-error>
  <mat-error *ngIf="confirmPassword.hasError('mustMatch')">
    Passwords must match
  </mat-error>
</mat-form-field> -->
<br>
<!-- <mat-form-field class="example-full-width2">
      
  <mat-label>Creation time</mat-label>
  <input matInput name="u_creation_date" formControlName="createdate" maxlength="100" required>

  
  <mat-error *ngIf="createdate.hasError('required')">
    <strong>Creation time is required</strong>

  </mat-error>

</mat-form-field> -->

<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button style="margin-left: 30px;" name="save" mat-raised-button color="primary"
  [disabled]="!registerForm.valid" (click)="onSubmit()">CREATE</button>
<button routerLink="/" style="margin-left: 30px;" mat-raised-button color="primary"
   (click)="onSubmit()">Cancel</button>
</form>
