<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">
<u>
    <h2 align="center" style="background-color:lightgrey">Academic Details</h2>
</u>
</div>
<div class="container">
<div class="row">
    <br>
    <div class="col-2">
        <br>
        &nbsp; <b>Examination</b><br>
        &nbsp; SSC<br>&nbsp; HSC<br>&nbsp; B.Sc(CS)<br>&nbsp; MCA<br>
    </div>
    <div class="col-3"> 
        <br>
        <b>University</b>
        <br>State Board of Maharashtra<br>University of Pune<br>University of Pune<br>University of Pune
        <br>
    </div>
    <div class="col-3"> 
        <br>
        <b>Institute</b>
        <br>Sharada High School,Nashik<br>K.S.K.W. College, Cidco, Nashik<br>R. Y. K. College,Nashik<br>PUCSD
        <br>
    </div>
    <div class="col-2"> 
        <br>
        <b>Passout Year</b>
        <br>2012<br>2014<br>2017<br>2020<br>
    </div>
    <div class="col-2"> 
        <br>
        <b>CPI / %</b>
        <br>83.27<br>59.23<br>73.41<br>6.25<br><br>
    </div>
    <br>
</div>
</div>
</html>