<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <div class="container">
    <u>
        <h2 align="center" style="background-color:lightgrey">Projects</h2>
      </u>
    </div>
    <div class="container">
    <table class="table border">
        <tr>
            <td><b>1) Project Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></td>
            <td><b>:</b> Laundry Management System</td>
        </tr>
        <tr>
            <td><b>Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
            <td><b>:</b> This project is designed to hold information related to the customer and their clothes order
              given in the laundry for cleaning or pressing purpose.</td>
        </tr>
        <tr>
            <td><b>Technologies &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></td>
            <td><b>:</b> Java</td>
        </tr>
        <tr>
            <td><b>Role/Responsibilities </b></td>
            <td><b>:</b> Worked as a team member.</td>
        </tr>
    </table>
    
        <br>
    <table class="table border">
        <tr>
            <td><b>2) Project Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b></td>
            <td><b>:</b> Automation of SBC(Small Business Corporation)</td>
        </tr>
        <tr>
            <td><b>Description &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
            <td><b>:</b> Automated form filling process by using TestNG which helps in reducing manual work and time. As a
              part of it, we pass XML file along with values of fields present in the form, which eventually gets assigned to form
              fields.</td>
        </tr>
        <tr>
            <td><b>Technologies &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td>
            <td><b>:</b> Java, TestNG</td>
        </tr>
        <tr>
            <td><b>Role/Responsibilities</b></td>
            <td><b>:</b> Worked as a team member.</td>
        </tr>
    </table>
</div>
</html>